Repository chuangz0/wholegraph, changes with the labels that .github/labeler.yml gives for each.
All labels: python, benchmarks, doc, datasets, WholeGraph, CMake, ci, conda

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/wholegraph/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cugraph/labels

python:
  - 'python/**'
  - 'notebooks/**'

benchmarks:
  - 'benchmarks/**'

doc:
  - 'docs/**'
  - '**/*.md'
  - 'datasets/**'
  - 'notebooks/**'
  - '**/*.txt'
  - '**/*.rst'
  - '**/*.ipynb'
  - '**/*.pdf'
  - '**/*.png'

datasets:
  - 'datasets/**'

WholeGraph:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

ci:
   - 'ci/**'

conda:
  - 'conda/**'

move torch.utils.cpp_extension inside compile method to fix load before fork
  pylibwholegraph/pylibwholegraph/torch/wholegraph_env.py
Labels: none

refactor generator random value api
  cpp/include/wholememory/wholegraph_op.h
  cpp/src/wholegraph_ops/raft_random_gen.cpp
  pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_unweighted_sample_without_replacement.py
  pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_weighted_sample_without_replacement.py
  pylibwholegraph/pylibwholegraph/torch/wholegraph_ops.py
Labels: WholeGraph

revised api name
  cpp/include/wholememory/wholegraph_op.h
  cpp/src/wholegraph_ops/raft_random_gen.cpp
  cpp/src/wholegraph_ops/weighted_sample_without_replacement_func.cuh
  cpp/tests/wholegraph_ops/graph_sampling_test_utils.cu
  pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_weighted_sample_without_replacement.py
  pylibwholegraph/pylibwholegraph/torch/wholegraph_ops.py
Labels: WholeGraph

minor data type modification
  cpp/src/wholegraph_ops/raft_random_gen.cu
  cpp/src/wholegraph_ops/unweighted_sample_without_replacement_func.cuh
  cpp/tests/wholegraph_ops/graph_sampling_test_utils.cu
Labels: WholeGraph

fix local conda build
  build.sh
  ci/test_clang_tidy.sh
  ci/test_python.sh
  conda/recipes/libwholegraph/install_libwholegraph.sh
  conda/recipes/libwholegraph/install_libwholegraph_tests.sh
  python/pylibwholegraph/pylibwholegraph/test_utils/__init__.py
Labels: python, ci, conda

add cache for ForkGetDeviceCount
  cpp/src/parallel_utils.cpp
Labels: WholeGraph

fix github ci
  build.sh
  ci/test_clang_tidy.sh
  conda/recipes/libwholegraph/build.sh
  conda/recipes/pylibwholegraph/build.sh
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_io.py
Labels: python, ci, conda

fix __init__ typo
  python/pylibwholegraph/pylibwholegraph/torch/distributed_launch.py
Labels: python

replace POSIX shm API with System V shm API, fix some pytests, and add doc build
  ci/build_docs.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/pylibwholegraph/meta.yaml
  cpp/Doxyfile
  cpp/Doxyfile.in
  cpp/src/wholememory/memory_handle.cpp
  dependencies.yaml
  docs/wholegraph/Makefile
  docs/wholegraph/README.md
  docs/wholegraph/make.bat
  docs/wholegraph/source/_static/EMPTY
  docs/wholegraph/source/api_docs/index.rst
  docs/wholegraph/source/api_docs/libwholegraph/index.rst
  docs/wholegraph/source/api_docs/pylibwholegraph/index.rst
  docs/wholegraph/source/basics/index.rst
  docs/wholegraph/source/basics/wholegraph_intro.md
  docs/wholegraph/source/basics/wholememory_implementation_details.md
  docs/wholegraph/source/basics/wholememory_intro.md
  docs/wholegraph/source/conf.py
  docs/wholegraph/source/index.rst
  docs/wholegraph/source/installation/getting_wholegraph.md
  docs/wholegraph/source/installation/index.rst
  docs/wholegraph/source/installation/source_build.md
  docs/wholegraph/source/sphinxext/github_link.py
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_binding.py
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_tensor.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_gather_scatter.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_unweighted_sample_without_replacement.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_weighted_sample_without_replacement.py
Labels: python, doc, WholeGraph, ci, conda

debug append unique op test
  cpp/tests/graph_ops/append_unique_test_utils.cu
  cpp/tests/graph_ops/append_unique_test_utils.hpp
  cpp/tests/graph_ops/append_unique_tests.cu
Labels: WholeGraph

adjust code style
  cpp/tests/graph_ops/append_unique_test_utils.cu
  cpp/tests/graph_ops/append_unique_test_utils.hpp
  cpp/tests/graph_ops/append_unique_tests.cu
Labels: WholeGraph

merge github back to gitlab
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/check_style.sh
  ci/checks/copyright.py
  ci/test_clang_tidy.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/libwholegraph/conda_build_config.yaml
  conda/recipes/libwholegraph/meta.yaml
  conda/recipes/pylibwholegraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/src/parallel_utils.cpp
  cpp/tests/graph_ops/append_unique_test_utils.cu
  cpp/tests/graph_ops/append_unique_test_utils.hpp
  cpp/tests/graph_ops/append_unique_tests.cu
  cpp/tests/wholegraph_ops/graph_sampling_test_utils.cu
  cpp/tests/wholememory/wholememory_comm_tests.cpp
  dependencies.yaml
  python/pylibwholegraph/CMakeLists.txt
Labels: python, doc, WholeGraph, CMake, ci, conda

Update .gitlab-ci.yml
  .gitlab-ci.yml
Labels: none

update python CMakeLists.txt and docs
  Dockerfile
  build.sh
  docs/wholegraph/source/basics/wholegraph_intro.md
  docs/wholegraph/source/basics/wholememory_implementation_details.md
  docs/wholegraph/source/imgs/device_chunked_wholememory_step1.png
  docs/wholegraph/source/imgs/device_chunked_wholememory_step2.png
  docs/wholegraph/source/imgs/device_continuous_wholememory_step1.png
  docs/wholegraph/source/imgs/device_continuous_wholememory_step2.png
  docs/wholegraph/source/imgs/distributed_wholememory.png
  docs/wholegraph/source/imgs/general_wholememory.png
  docs/wholegraph/source/imgs/host_mapped_wholememory_step1.png
  docs/wholegraph/source/imgs/host_mapped_wholememory_step2.png
  docs/wholegraph/source/imgs/wholememory_tensor.png
  docs/wholegraph/source/installation/container.md
  docs/wholegraph/source/installation/source_build.md
  python/pylibwholegraph/CMakeLists.txt
Labels: python, doc, CMake

update docs
  cpp/include/wholememory/embedding.h
  cpp/include/wholememory/global_reference.h
  cpp/include/wholememory/tensor_description.h
  cpp/include/wholememory/wholememory.h
  cpp/include/wholememory/wholememory_tensor.h
  cpp/src/graph_ops/append_unique.cpp
  cpp/src/graph_ops/append_unique_impl.cu
  cpp/src/graph_ops/append_unique_impl.h
  cpp/tests/graph_ops/append_unique_test_utils.hpp
  docs/wholegraph/source/api_docs/libwholegraph/index.rst
  docs/wholegraph/source/api_docs/pylibwholegraph/index.rst
  docs/wholegraph/source/basics/wholegraph_intro.md
  docs/wholegraph/source/installation/index.rst
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
  python/pylibwholegraph/pylibwholegraph/torch/wholegraph_ops.py
Labels: python, doc, WholeGraph

merge github docs
  ci/build_docs.sh
  cpp/CMakeLists.txt
  cpp/docs/DEVELOPER_GUIDE.md
  cpp/doxygen/Doxyfile
  cpp/doxygen/header.html
  cpp/doxygen/main_page.md
  docs/wholegraph/README.md
  docs/wholegraph/source/_static/references.css
  docs/wholegraph/source/conf.py
  docs/wholegraph/source/installation/getting_wholegraph.md
  docs/wholegraph/source/installation/source_build.md
Labels: doc, WholeGraph, CMake, ci

debug tiny embedding dim gather test
  cpp/tests/wholememory_ops/embedding_test_utils.cu
Labels: WholeGraph

fix: test_ diff_count=0 and host_weighted_sample
  cpp/tests/wholegraph_ops/graph_sampling_test_utils.cu
  cpp/tests/wholegraph_ops/wholegraph_csr_weighted_sample_without_replacement_tests.cu
Labels: WholeGraph

fix add_self_loop test
  cpp/tests/graph_ops/csr_add_self_loop_utils.cu
Labels: WholeGraph

weighted_sample_raft_top_draft
  cpp/src/wholegraph_ops/weighted_sample_without_replacement_func.cuh
  cpp/tests/wholegraph_ops/graph_sampling_test_utils.cu
Labels: WholeGraph

support nvshmem , gather and scatter op
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/include/wholememory/nvshmem_template.cuh
  cpp/include/wholememory/wholememory.h
  cpp/src/nvshmem_plugins/nvshmem_wholememory_bootstrap.cpp
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/gather_op_impl.h
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
  cpp/src/wholememory_ops/scatter_op.cpp
  cpp/src/wholememory_ops/scatter_op_impl.h
  cpp/src/wholememory_ops/scatter_op_impl.nvshmem.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/wholememory/mpi_launch_nvshmem_test.cu
  cpp/tests/wholememory/wholememory_nvshmem_test.cu
  cpp/tests/wholememory_ops/wholememory_gather_tests.cu
  cpp/tests/wholememory_ops/wholememory_scatter_tests.cu
Labels: doc, WholeGraph, CMake

nvshmem python binding
  cpp/CMakeLists.txt
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/scatter_op.cpp
  cpp/tests/CMakeLists.txt
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_binding.py
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_tensor.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_gather_scatter.py
  python/pylibwholegraph/pylibwholegraph/torch/utils.py
Labels: python, doc, WholeGraph, CMake

build.sh enable_nvshmem
  build.sh
Labels: none

modify pylibwholegraph/torch and node_classfication.py
  python/pylibwholegraph/examples/node_classfication.py
  python/pylibwholegraph/pylibwholegraph/torch/__init__.py
  python/pylibwholegraph/pylibwholegraph/torch/comm.py
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
Labels: python

nvshmem-2.10.1
  archives/nvshmem_src_2.10.1-3.txz
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/include/wholememory/nvshmem_template.cuh
  cpp/include/wholememory/wholememory.h
  cpp/src/nvshmem_plugins/nvshmem_wholememory_bootstrap.cpp
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/wholememory.cpp
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
Labels: python, doc, WholeGraph, CMake

impl a warpper for nvshmem ptr
  cpp/include/wholememory/device_reference.cuh
  cpp/include/wholememory/global_reference.h
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/memory_handle.hpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
  cpp/src/wholememory_ops/scatter_op_impl.nvshmem.cu
  cpp/tests/wholememory/mpi_launch_nvshmem_test.cu
  cpp/tests/wholememory/wholememory_nvshmem_test.cu
Labels: WholeGraph

support cache memory type = nvshmem
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/include/wholememory/global_reference.h
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory_ops/functions/embedding_cache_func.cuh
  cpp/src/wholememory_ops/functions/gather_cached_func.h
  cpp/src/wholememory_ops/functions/gather_cached_nvshmem_func.cu
  cpp/tests/wholememory_ops/wholememory_embedding_tests.cu
Labels: doc, WholeGraph, CMake

nvshmem python binding
  cpp/CMakeLists.txt
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/scatter_op.cpp
  cpp/tests/CMakeLists.txt
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_binding.py
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_tensor.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_gather_scatter.py
  python/pylibwholegraph/pylibwholegraph/torch/utils.py
Labels: python, doc, WholeGraph, CMake

modify pylibwholegraph/torch and node_classfication.py
  python/pylibwholegraph/examples/node_classfication.py
  python/pylibwholegraph/pylibwholegraph/torch/__init__.py
  python/pylibwholegraph/pylibwholegraph/torch/comm.py
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
Labels: python

communicator distributed backend
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/memory_handle.hpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/functions/gather_cached_nvshmem_func.cu
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/gather_op_impl.h
  cpp/src/wholememory_ops/gather_op_impl_nccl.cu
  cpp/src/wholememory_ops/scatter_op.cpp
  cpp/src/wholememory_ops/scatter_op_impl.h
  cpp/src/wholememory_ops/scatter_op_impl_nccl.cu
  cpp/tests/wholememory_ops/wholememory_embedding_tests.cu
  cpp/tests/wholememory_ops/wholememory_gather_tests.cu
  cpp/tests/wholememory_ops/wholememory_scatter_tests.cu
  python/pylibwholegraph/examples/node_classfication.py
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_binding.py
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_tensor.py
  python/pylibwholegraph/pylibwholegraph/tests/wholegraph_torch/ops/test_wholegraph_gather_scatter.py
  python/pylibwholegraph/pylibwholegraph/torch/__init__.py
  python/pylibwholegraph/pylibwholegraph/torch/comm.py
  python/pylibwholegraph/pylibwholegraph/torch/common_options.py
  python/pylibwholegraph/pylibwholegraph/torch/embedding.py
  python/pylibwholegraph/pylibwholegraph/torch/utils.py
Labels: python, WholeGraph

nvshmem-2.10.1
  archives/nvshmem_src_2.10.1-3.txz
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/include/wholememory/nvshmem_template.cuh
  cpp/include/wholememory/wholememory.h
  cpp/src/nvshmem_plugins/nvshmem_wholememory_bootstrap.cpp
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/wholememory.cpp
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
Labels: python, doc, WholeGraph, CMake

support nvshmem , gather and scatter op
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/include/wholememory/nvshmem_template.cuh
  cpp/include/wholememory/wholememory.h
  cpp/src/nvshmem_plugins/nvshmem_wholememory_bootstrap.cpp
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/gather_op.cpp
  cpp/src/wholememory_ops/gather_op_impl.h
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
  cpp/src/wholememory_ops/scatter_op.cpp
  cpp/src/wholememory_ops/scatter_op_impl.h
  cpp/src/wholememory_ops/scatter_op_impl.nvshmem.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/wholememory/mpi_launch_nvshmem_test.cu
  cpp/tests/wholememory/wholememory_nvshmem_test.cu
  cpp/tests/wholememory_ops/wholememory_gather_tests.cu
  cpp/tests/wholememory_ops/wholememory_scatter_tests.cu
Labels: doc, WholeGraph, CMake

impl a warpper for nvshmem ptr
  cpp/include/wholememory/device_reference.cuh
  cpp/include/wholememory/global_reference.h
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/memory_handle.hpp
  cpp/src/wholememory/wholememory.cpp
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
  cpp/src/wholememory_ops/scatter_op_impl.nvshmem.cu
  cpp/tests/wholememory/mpi_launch_nvshmem_test.cu
  cpp/tests/wholememory/wholememory_nvshmem_test.cu
Labels: WholeGraph

build.sh enable_nvshmem
  build.sh
Labels: none

support cache memory type = nvshmem
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/include/wholememory/global_reference.h
  cpp/src/wholememory/embedding.cpp
  cpp/src/wholememory_ops/functions/embedding_cache_func.cuh
  cpp/src/wholememory_ops/functions/gather_cached_func.h
  cpp/src/wholememory_ops/functions/gather_cached_nvshmem_func.cu
  cpp/tests/wholememory_ops/wholememory_embedding_tests.cu
Labels: doc, WholeGraph, CMake

remove unused
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/tests/pylibwholegraph/test_wholememory_binding.py
Labels: python

preferred_distributed_backend
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/wholememory.cpp
  python/pylibwholegraph/examples/node_classfication.py
Labels: python, WholeGraph

if no def WITH_NVSHMEM_SUPPORT
  cpp/include/wholememory/device_reference.cuh
  cpp/src/wholememory/communicator.cpp
Labels: WholeGraph

distributed_backend getter , python property
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/wholememory.cpp
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/torch/comm.py
  python/pylibwholegraph/pylibwholegraph/torch/utils.py
Labels: python, WholeGraph

nvshmem_get_mem
  archives/nvshmem_src_2.10.1-3.txz
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/src/wholememory_ops/functions/partition_indices.cuh
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
Labels: WholeGraph, CMake
