Repository chuangz0/wholegraph, changes with the labels that .github/labeler.yml gives for each.
All labels: python, benchmarks, doc, datasets, WholeGraph, CMake, ci, conda

refactor code
  cpp/CMakeLists.txt
  cpp/src/wholememory_ops/functions/nvshmem_gather_func.cuh
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
  cpp/src/wholememory_ops/gather_op_impl_nvshmem_sort_idx.cu
Labels: doc, WholeGraph, CMake

fix inferencesample_option
  python/pylibwholegraph/pylibwholegraph/torch/common_options.py
Labels: python

add nvshmem support in benchmark
  cpp/bench/wholememory_ops/gather_scatter_bench.cu
Labels: WholeGraph

support make installed nvshmem as dependency
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/src/wholememory_ops/functions/nvshmem_device_reference.cuh
  cpp/src/wholememory_ops/gather_op_impl_nvshmem.cu
Labels: doc, WholeGraph, CMake

fix include
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
Labels: doc, WholeGraph, CMake

nvshmem_cmake_bug_fix
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_nvshmem.cmake
Labels: doc, WholeGraph, CMake

add install_rpath
  cpp/CMakeLists.txt
Labels: doc, WholeGraph, CMake

test_block_count_for_gather
  cpp/CMakeLists.txt
  cpp/bench/CMakeLists.txt
  cpp/bench/wholememory_ops/block_count_gather.cu
  cpp/bench/wholememory_ops/old_gather.cuh
Labels: doc, WholeGraph, CMake

update
  cpp/bench/wholememory_ops/block_count_gather.cu
Labels: WholeGraph

support nvshmem 2.11 uid bootstrap
  .gitignore
  cpp/cmake/thirdparty/get_nvshmem.cmake
  cpp/src/wholememory/communicator.cpp
Labels: WholeGraph, CMake

access mnnvl memory for numa id host
  cpp/CMakeLists.txt
  cpp/src/wholememory/memory_handle.cpp
Labels: doc, WholeGraph, CMake

support MNNVL comm
  cpp/include/wholememory/wholememory.h
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/communicator.hpp
  cpp/src/wholememory/memory_handle.cpp
  cpp/src/wholememory/system_info.cpp
  cpp/src/wholememory/system_info.hpp
  cpp/src/wholememory/wholememory.cpp
  python/pylibwholegraph/pylibwholegraph/binding/wholememory_binding.pyx
  python/pylibwholegraph/pylibwholegraph/torch/__init__.py
  python/pylibwholegraph/pylibwholegraph/torch/comm.py
Labels: python, WholeGraph

fix all_gather bug of create mnnvl comm
  cpp/src/wholememory/communicator.cpp
  cpp/src/wholememory/system_info.cpp
  cpp/src/wholememory/system_info.hpp
  python/pylibwholegraph/pylibwholegraph/torch/comm.py
Labels: python, WholeGraph

nvidia-ml cmake
  cpp/CMakeLists.txt
Labels: doc, WholeGraph, CMake

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/wholegraph/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cugraph/labels

python:
  - 'python/**'
  - 'notebooks/**'

benchmarks:
  - 'benchmarks/**'

doc:
  - 'docs/**'
  - '**/*.md'
  - 'datasets/**'
  - 'notebooks/**'
  - '**/*.txt'
  - '**/*.rst'
  - '**/*.ipynb'
  - '**/*.pdf'
  - '**/*.png'

datasets:
  - 'datasets/**'

WholeGraph:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

ci:
   - 'ci/**'

conda:
  - 'conda/**'
